language: c
compiler:
  - gcc
  - clang
before_install:
    - if [ $CC != clang ]; then pip install --user cpp-coveralls; fi
script:
    - if [ $CC = clang ]; then make test; else make test-coverage; fi
after_success:
    - if [ $CC != clang ]; then coveralls; fi
